@import '../../styles/variables';

.container {
    max-width: 100%;
    max-width: 1920px;
    height: 39.5rem;
    display: flex;
    padding: 5.2rem 9.2rem;
    background: 
        linear-gradient(rgba(0, 0, 0, 0%), rgba(0, 0, 0, 85%)),
        $banner-bg;

    .bannerInfo {
        width: 82.2rem;
        color: $white-1;
        h2 {
            width: 100%;
            font-size: 4.8rem;
            font-weight: 600;
            margin-bottom: 1.6rem;
        }
        p {
            font-size: 3.6rem;
            font-weight: 600;
            margin-bottom: 3.5rem;
        }
    }
}