@import '../../styles/variables';

.container {
    width: 100%;
    max-width: 128rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .badges {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: .6rem 25.4rem;
        border-bottom: 1px solid $gray-2;

        .badge {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .9rem;

            img {
                width: 20px;
                height: 20px;
            }

            p {
                color: $gray-1;
                font-weight: 500;

                span {
                    color: $pink-primary;
                    font-weight: 600;
                }
            }
        }
    }

    .core {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.2rem 5.6rem;
        gap: 9.5rem;

        .coreOptions {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5.6rem;

            .coreSearch {
                position: relative;
                width: 65.7rem;

                input {
                    width: 100%;
                    height: 4.8rem;
                    padding: 1.4rem 2.4rem;
                    background: $gray-3;
                    border: none;
                    border-radius: 10px;

                    &::placeholder {
                        font-family: 'Poppins', sans-serif;
                        color: $gray-1;
                        font-weight: 500;
                    }
                }

                button {
                    position: absolute;
                    background: none;
                    border: none;
                    right: 1rem;
                    top: 1rem;

                    &:hover {
                        cursor: pointer;
                    }

                    img {
                        width: 2.8rem;
                    }
                }
            }

            .coreIcons {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 3.2rem;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1rem 7rem;
        border-top: 1px solid $gray-2;
        box-shadow: 0px 8px 16px 0px rgba(57, 48, 19, 0.12);
        -webkit-box-shadow: 0px 8px 16px 0px rgba(57, 48, 19, 0.12);
        -moz-box-shadow: 0px 8px 16px 0px rgba(57, 48, 19, 0.12);

        li {
            button {
                width: fit-content;
                color: $gray-1;
                font-weight: 600;
                background: none;
                border: none;
                transition: color .2s;

                &:hover {
                    cursor: pointer;
                    filter: brightness(1.1);
                    transition: .3s;
                }
            }
            .signatureBtn { 
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1.2rem;
            }
            .isActive {
                color: $pink-primary;
            }
        }
    }
}