@import '../../styles/variables';

.container {
    @include flex-center-column;
    gap: 2.2rem;

    button {
        width: 12.8rem;
        height: 12.8rem;
        background: $gray-4;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.13);
        -webkit-box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.13);
        -moz-box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.13);
        transition: filter .2s;
        &:hover {
            cursor: pointer;
            filter: brightness(.9);
        }
    }

    label {
        font-size: 1.6rem;
        font-weight: 500;
        color: $gray-5;
    }
}

.isActive {
    label {
        color: $pink-primary;
    }
}