$white-1: #fff;
$gray-1: #9f9f9f;
$gray-2: #f0f0f0;
$gray-3: #F6F5F2;
$gray-4: #f4f4f4;
$gray-5: #4e4e4e;
$gray-6: #dedede;
$gray-7: #bdbdbd;
$gray-8: #3b3b3b;
$gray-9: #3f3f40;
$gray-10: #222222;
$gray-11: #2a2a2a;
$gray-12: #c0c0c0;
$pink-primary: #F71963;
$blue-1: #041E50;
$banner-bg: url('../../assets/img/banner.png');
$card-bg: url('../../assets/img/card-bg.png');

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-column {
    @include flex-center;
    flex-direction: column;
}