@import './variables';

:root {
    font-size: 62.5%; // 1rem = 10px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background: $white-1;
    width: 100%;
    &.overflow-hidden {
        overflow: hidden;
    }    
}

// .product-gallery {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 16px;
//     padding: 16px;
// }

// .product-card {
//     border: 1px solid #ddd;
//     border-radius: 8px;
//     padding: 16px;
//     cursor: pointer;
//     transition: transform 0.2s;

//     &:hover {
//         transform: scale(1.05);
//     }

//     img {
//         max-width: 100%;
//         border-radius: 8px;
//     }

//     h3 {
//         margin: 8px 0;
//     }

//     p {
//         color: #007bff;
//         font-size: 18px;
//     }
// }