@import '../../styles/variables';

.container {
    @include flex-center-column;
    width: 100%;
    padding: 0;

    .partners, .productsSecondary {
        @include flex-center;
        width: 100%;
        padding: 0 8.1rem;
        justify-content: space-between;
    }

    .partners {
        margin-top: 7.1rem;
    }

    .productsSecondary {
        margin-top: 8.8rem;
    }

    .divider {
        @include flex-center-column;
        width: 100%;
        max-width: 192rem;
        padding: 0 8.1rem;
        margin-top: 6rem;

        .content {
            position: relative;
            width: 100%;
            padding: 0 15.1rem;
            display: flex;
            justify-content: center;
            hr {
                width: 100%;
                border-color: $gray-6;
            }
            .title {
                @include flex-center-column;
                position: absolute;
                top: -2.2rem;
                background-color: $white-1;
                padding: 0 3.4rem;
                h2 {
                    color: $pink-primary;
                    font-size: 3rem;
                    font-weight: 700;
                }
                a {
                    color: $gray-9;
                    font-size: 1.5rem;
                    font-weight: 700;
                }
            }
        }
    }
}